<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POS - Purchases</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- Custom styles for this template-->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('../partials/sidebar') %>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <%- include('../partials/topbar') %>

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-2">
                                <h1 class="h3 mb-0 text-gray-800">Purchases</h1>
                            </div>


                            <div class="card mb-4">
                                <div class="card-header">
                                    <h2 class="m-0 text-gray-600">Transaction</h2>
                                </div>
                                <div class="card-body">
                                    <form action="">
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label>Invoice</label>
                                                <input readonly type="text" value="<%=dataPurchase.invoice%>"
                                                    name="invoice" class="form-control">
                                            </div>
                                            <div class="form-group col">
                                                <label>Time</label>
                                                <input readonly type="text" value="<%=dataPurchase.time%>"
                                                    class="form-control">
                                            </div>
                                            <div hidden class="form-group col">
                                                <label>Operator</label>
                                                <select required class="form-control" id="inputOperator"
                                                    name="operator">
                                                    <%listUsers.forEach((element)=>{%>
                                                        <option
                                                            <%=element.userid==operator.userid?'selected':'disabled'%>
                                                            value="<%=element.userid%>">
                                                                <%=element.name%>
                                                        </option>
                                                        <%})%>
                                                </select>
                                            </div>
                                            <div class="form-group col">
                                                <label>Operator</label>
                                                <input readonly class="form-control" value="<%=operator.name%>">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label>Goods Barcode</label>
                                                <select required class="form-control" id="inputBarcode" name="barcode"
                                                    onchange="gantiIsi()" aria-label="Default select example">
                                                    <option disabled hidden selected>-Select Goods-</option>
                                                    <%listGoods.forEach((element)=>{%>
                                                        <option value="<%=element.barcode%>">
                                                            <%=element.barcode%> - <%=element.name%>
                                                        </option>
                                                        <%})%>
                                                </select>
                                            </div>
                                            <div class="form-group col">
                                                <label>Goods Name</label>
                                                <input id="inputGoodsName" readonly type="text" class="form-control">
                                            </div>
                                            <div class="form-group col">
                                                <label>Stock</label>
                                                <input id="inputGoodsStock" readonly type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label>Purchase Price</label>
                                                <input readonly id="inputGoodsPurchasePrice" type="number"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group col">
                                                <label>Qty</label>
                                                <input min="1" placeholder="0" value="0" id="inputGoodsQuantity"
                                                    onkeyup="gantiTotal()" type="number" name="quantity"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group col">
                                                <label>Total Price</label>
                                                <input readonly id="inputGoodsTotalPrice" type="number"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <button id="submitAdd" class="btn btn-primary btn-icon-split"
                                            type="submit"><span class="icon text-white-50">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                            <span class="text">Add</span></button>
                                    </form>
                                </div>
                                <hr>
                                <table class="table responsive nowrap table-striped" id="tabel">
                                    <thead>
                                        <tr>
                                            <th scope="col">No.</th>
                                            <th scope="col">Barcode</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Total Price</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="card-footer">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="inputName">Total Summary</label>
                                        <input readonly required autocomplete="off" type="text"
                                            class="form-control col-sm-10">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="inputAddress">Supplier</label>
                                        <select required class="form-control col-sm-10" id="inputSupplier"
                                            name="supplier" aria-label="Default select example">
                                            <option disabled hidden selected>-Select Supplier-</option>
                                            <%listSuppliers.forEach((element)=>{%>
                                                <option value="<%=element.supplierid%>">
                                                    <%=element.name%>
                                                </option>
                                                <%})%>
                                        </select>
                                    </div>
                                    <label for="submitAdd" class="btn btn-success btn-icon-split mb-0">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Finish</span>
                                    </label>
                                    <a href="/purchases" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                        <span class="text">Back</span>
                                    </a>
                                </div>
                            </div>



                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <%- include('../partials/footer') %>

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/javascripts/sb-admin-2.min.js"></script>
    <script>
        function gantiIsi() {
            let barcode = $('#inputBarcode').val();
            $.ajax({
                url: `/goods/data/${barcode}`,
                success: (result) => {
                    $('#inputGoodsName').val(result.name);
                    $('#inputGoodsStock').val(result.stock);
                    $('#inputGoodsPurchasePrice').val(result.purchaseprice);
                    $('#inputGoodsQuantity').attr('max', result.stock);
                    if ($('#inputGoodsQuantity').val()) gantiTotal();
                }
            })
        }

        function gantiTotal() {
            $('#inputGoodsTotalPrice').val(($('#inputGoodsPurchasePrice').val()) * ($('#inputGoodsQuantity').val()))
        }

    </script>

</body>

</html>